@media (max-width: 991px) {
    body {
        max-width: 100%;
        overflow-x: hidden;
    }
    
    mblTop address {
        text-align: center;
        justify-content: center;
    }

    #banner {
        background-color: var(--background-color);
        max-width: 1440px;
        width: 100%;
        height: 989px;
        margin: 0 auto;
    }

    .lside {
        text-align: center;
    }

    #banner .lside h6 {
        margin: 130px auto 12px;
        justify-content: center;
        font-size: 16px;
    }

    #banner .lside h1 {
        margin-bottom: 14px;
        font-size: 37px;
        font-weight: 600;
        text-align: center;
    }

    #banner .lside h5 {
        font-size: 13px;
        font-weight: 400;
        margin-bottom: 20px;
    }

    #banner .lside button {
        margin: 0px 20px 18px 0;
    }

    .asides {
        justify-content: center;
        display: flex;
        text-align: left;
        margin: 0 auto;
        gap: 46px;
    }

    .imgs img {
        width: 100%;
        height: 400px;
        margin: 37px auto;
    }

    .imgs .sticker {
        bottom: 0;
        right: 0;
        padding: 12px 16px;
    }

    .sticker h3 {
        font-size: 27px;
        font-weight: 500;
    }

    #about .hding h2 {
        font-size: 30px;
        margin: 184px auto 20px;
    }

    #about .hding p {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .hdingg h1 {
        font-size: 30px;
        font-weight: 500;
        margin: 68px 0 24px;
    }

    #menu .hdingg p {
        font-size: 12px;
        margin-bottom: 20px;
    }

    .story {
        display: block;
    }

    .card1 {
        margin-bottom: 18px;
    }

    #quality .skill {
        margin: 24px auto 4px;
        text-align: center;
    }

    #menu .hdingg p {
        margin-bottom: 20px;
    }

    .lists {
        display: flex;
        flex-direction: column;
    }

    .ftr p {
        font-size: 12px;
        margin-bottom: 30px;
    }

    .mblBtm a {
        position: relative;
    }

    .mblBtm ul {
        display: flex;
        justify-content: space-between;
        background-color: #f3eaea;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        position: fixed;
        bottom: 0;
        left: 0;
    }

    .mblBtm ul li {
        text-align: center;
        font-size: 33px;
        padding: 0 8px;
    }

    .mblBtm ul li iconify-icon {
        color: #908C8C;
    }

    .mblBtm ul li iconify-icon:hover {
        color: #7C2C27;
    }
    
    .mblBtm ul li p {
        display: block;
        font-size: 12px;
        color: #908C8C;
    }

    .mblBtm ul li:hover p {
        color: #7C2C27;
    }

    .mblBtm ul li button {
        border: none;
        background-color: transparent;
    }

    .mblBtm .qrcd {
        position: absolute;
        top: -33px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 33px;
        padding: 8px 14px;
        background-color: #7C2C27;
        color: #F7EDEF;
        border-radius: 50%;
    }
}